<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Formation_TP10::extra" title="Extra" translate="title" sortOrder="1000">
                    <resource id="Formation_TP10::series" title="Series" translate="title" sortOrder="10">
                        <resource id="Formation_TP10::series_edit" title="Series Edit" translate="title" sortOrder="10" />
                    </resource>
                    <resource id="Formation_TP10::vendor" title="Vendor" translate="title" sortOrder="20">
                        <resource id="Formation_TP10::vendors_edit" title="Series Vendor" translate="title" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>