<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="formationtp2" frontName="formationtp2">
            <module name="Formation_TP2" />
        </route>
    </router>
</config>
