<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Formation_TP10::extra" title="Extra" module="Formation_TP10" sortOrder="100" resource="Formation_TP10::extra"/>
        <add id="Formation_TP10::series" title="Series" translate="title" module="Formation_TP10" sortOrder="10" parent="Formation_TP10::extra" resource="Formation_TP10::series" action="formationtp10/series/"/>
        <add id="Formation_TP10::vendor" title="Vendor" translate="title" module="Formation_TP10" sortOrder="10" parent="Formation_TP10::extra" resource="Formation_TP10::vendor" action="formationtp10/vendor/"/>
    </menu>
</config>
