<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\Session">
        <plugin name="add_log_on_init" type="Correction\TP7\Plugin\LogReinit" />
    </type>
    <type name="Correction\TP6\Block\Customer\Info">
        <plugin name="add_trigramme_to_block" type="Correction\TP7\Plugin\ShowTrigramme" />
    </type>
    <type name="Magento\Customer\Model\ResourceModel\Customer">
        <plugin name="randomize" type="Correction\TP7\Plugin\RandomizeOnLoad" />
    </type>
</config>
