<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="correctiontp7" frontName="correctiontp7">
            <module name="Correction_TP7" />
        </route>
    </router>
</config>
